/*
	Reset Selector - don't remove this!
*/

* {
	margin: 0;
	padding: 0;
}

/* 
	You can modify everything after this point.
*/


@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap');


a:link  {
	color: blue;
	background-color: bisque;
	text-decoration: none;
	border: 1px solid black;
}

a:focus, a:hover {
	background-color: #ddddff;
	border-radius: 5px;
	text-decoration: underline;
	transition-duration: 0.2s;
	transition-property: background;
}


code {
	color: red;
}

 h2, h3 {
	text-align: center;
}

h1, h2, h3 {
	font-family: 'Roboto', sans-serif;
}

h1 {
	padding: .2em;
	font-size: 35px;
}

h2 {
	padding: .5em;
	font-size: 22px;
}

h3 {
	padding: .5em;
	font-size: 25px;
}

header {
	padding: .5em;
}


p {
	font-size: 17px;
	line-height: 140%;
	padding-left: .5em;
	margin-bottom: 1em;
	font-family: sans-serif;
}

#intro {
	width: 30%;
}

#how-does-it-work, #influence, #joke {
	width: 30%;
}


#influence  p {
	line-height: 130%;
}
/*
#how-does-it-work p {
	text-indent: 12px;
}